.App {
  text-align: center;
}



.flexNavbar{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: silver;
  font-size: 26px;
  margin: 5px;
  padding: 5px;
  color: blueviolet;

}
